
@{
    ViewBag.Title = "PaymentComplete";
}

<h2>Payment Complete, thank you!</h2>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div><div></div>
<div></div>
<div></div><div></div>
<div></div>
<div></div><div></div>
<div></div>
<div></div><div></div>
<div></div>
<div></div><div></div>
<div></div>
<div></div><div></div>
<div></div>
<div></div>
<div>
   
  
</div>

